{% load humanize %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <title>Budget Application</title>

    <style>
      .header {
        background: #cd18eb;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row mt-4">
        <div class="col">
          <div class="col-md col-xs-12">
            <div class="card text-center text-white mb-3" id="orders-delivered">
              <div class="card-header header">
                <h5 class="card-title">TOTAL INCOME</h5>
              </div>
              <div class="card-body">
                <h3 class="card-title amonunt text-dark">{{sums.total|intcomma}}</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="col-m col-xs-12">
            <div class="card text-center text-white mb-3" id="orders-delivered">
              <div class="card-header header">
                <h5 class="card-title">TOTAL EXPENSE</h5>
              </div>
              <div class="card-body">
                <h3 class="card-title text-dark">{{expense_sum.total|intcomma}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 offset-sm-4">
          <a href="{% url 'incomeform' %}" class="btn btn-lg btn-success"
            >Add Income</a
          >
        </div>

        <div class="col-sm-2 offset-sm-4">
          <a href="{% url 'expenseform' %}" class="btn btn-lg btn-danger"
            >Add Expense</a
          >
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <table class="table table-striped text-center">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Income Title</th>
                <th scope="col">Amount</th>
                <th scope="col">Added</th>
              </tr>
            </thead>
            <tbody>
              {% for income in income_detail %}
              <tr>
                <th scope="row">{{income.id}}</th>
                <td>{{income.title}}</td>
                <td><span>Rs</span> {{income.amount|intcomma}}</td>
                <td>{{income.datetime|naturaltime}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table table-striped text-center">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Expense Title</th>
                <th scope="col">Amount</th>
                <th scope="col">Added</th>
              </tr>
            </thead>
            <tbody>
              {% for expense in expense_detail %}
              <tr>
                <th scope="row">{{expense.id}}</th>
                <td>{{expense.title}}</td>
                <td><span>Rs</span> {{expense.amount|intcomma}}</td>
                <td>{{expense.datetime|naturaltime}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
